# Template for how your .gitconfig should look in ~/.gitconfig, if sourcing from .gitconfig in this folder

[include]
	path = ~/projects/dotfiles/git/.gitconfig 
[user]
    # work or personal email
	email = <work-email><personal-email>

