[core]
	editor = nvim
	autocrlf = false
    excludesfile = ~/projects/dotfiles/git/.gitignore_global
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Drew Daniels
	email = daniels_drew@protonmail.com
[init]
	defaultBranch = master
[credential]
	helper = osxkeychain
[checkout]
	defaultRemote = origin
