[core]
	editor = nvim
	autocrlf = false
  excludesfile = ~/projects/dotfiles/git/.gitignore
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Drew Daniels
[init]
	defaultBranch = master
[credential]
	helper = osxkeychain
[checkout]
	defaultRemote = origin
[tag]
  sort = -version:refname

