{{- $email := promptStringOnce . "email" "Email address" -}}
encryption = "age"
[age]
    identity = "~/key.txt"
    recipient = "age17jq9eawpv2mqsc3sy9hh9wf4l6hndm2vkawpvngcr8p5z0wkn4kqtn3jn4"
[data]
    email = {{ $email | quote }}
[merge]
    command = "nvim"
    args = ["-d", "{{ "{{" }}.Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }}.Target {{ "}}" }}"]
