{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $homeOrWork := promptStringOnce . "homeOrWork" "Is this a 'home' or 'work' machine? Choose" -}}
{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}
encryption = "age"
[age]
    identity = "~/key.txt"
    # TODO: Think through how to create new 'age' keys when setting up a new machine
    # work, debian, ...
    recipients = ["age1y0e3kxdguvprhc0rrp5f2z3taez7wjzp4d9x9yzzj09guv2js5tqp8cc9t", "age1dhcq4f7ka2uhxyxmmm5nl88tcllu9dct77zdga08pauf5u29qp5q9k5hhj"]
[data]
    email = {{ $email | quote }}
    homeOrWork = {{ $homeOrWork | quote }}
    osid = {{ $osid | quote }}
[merge]
    command = "nvim"
    args = ["-d", "{{ "{{" }}.Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }}.Target {{ "}}" }}"]
[diff]
    pager = "delta"
[hooks.read-source-state.pre]
    command = ".local/share/chezmoi/.pre-source-read.sh"
[hooks.apply.post]
    command = ".local/share/chezmoi/.post-apply.sh"
[add]
  # default is "warning"
  secrets = "error"
