# all
MACHINE=

# home
MAC_MUSIC_FOLDER=
RPI_MUSIC_FOLDER=
RPI_USER=
RPI_HOSTNAME=

# work
REVIEWERS=reviewer1,reviewer2
WORK_DB_NAME=
S3_BACKUP_PATH=
LOCAL_BACKUP_PATH=
ENCOUNTERS_DEV_HEARTBEAT_URL=
MAIN_HEARTBEAT_URL=
