.DS_Store
configstore

# fish
fish/*

!fish/config.fish
!fish/fish_plugins
!fish/completions
!fish/functions
*tide*

github-copilot

fish/completions/asdf.fish
fish/completions/docker*

gitk

secrets
nnn/.lastd
