[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "tmux/plugins/tmux-powerline"]
	path = tmux/plugins/tmux-powerline
  url = https://github.com/Drew-Daniels/tmux-powerline.git
  ignore = all
[submodule "tmux/plugins/tmux-mem-cpu-load"]
	path = tmux/plugins/tmux-mem-cpu-load
	url = https://github.com/thewtex/tmux-mem-cpu-load.git
