.DS_Store
configstore

# fish
fish/*

!fish/config.fish
!fish/fish_plugins
!fish/completions
!fish/functions
*tide*

github-copilot

fish/completions/asdf.fish
fish/completions/docker*
fish/functions/work*.fish

gitk

secrets
nnn/.lastd
.android
*.bak
wezterm/settings.lua
cspell/work_words.txt
nvim/plugin/gitlab.vim
glab-cli
.jira
stripe
beets
!beets/config.yaml
.env.*
zsh/functions
docs/project_notes.md
