[submodule "asdf/.asdf"]
	path = asdf/.asdf
	url = https://github.com/asdf-vm/asdf.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "tmux/plugins/tmux-powerline"]
	path = tmux/plugins/tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
