{{- $computerName := output "scutil" "--get" "ComputerName" | trim -}}
{{- if eq $computerName "KIPU-DDANIELS" -}}
    {{- include "Brewfile_KIPU-DDANIELS" -}}
{{- else -}}
    {{- include "Brewfile_drews-m1-mbp" -}}
{{- end -}}
