{{- $computerName := output "scutil" "--get" "ComputerName" | trim -}}
{{- if eq $computerName "US-MBA-H67XXF5Y0X" -}}
    {{- include "Brewfile_US-MBA-H67XXF5Y0X" -}}
{{- else -}}
    {{- include "Brewfile_drews-m1-mbp" -}}
{{- end -}}
