visidata
xlrd
openpyxl
PyYAML
python-language-server
stay-awake
yt-dlp
mbake
gersemi
nginxfmt
cmake-language-server
reformat-gherkin
nginxfmt
neovim-remote
{{ if ne .chezmoi.os "freebsd"  -}}
beets
basedpyright
ruff
{{- end -}}
