pnpm
jgit
oclif
yarn
nx
json-sort-cli
vim-language-server
@olrtg/emmet-language-server
@microsoft/compose-language-service
live-server
eslint_d
@fsouza/prettierd
vscode-langservers-extracted
typescript
typescript-language-server
@vue/language-server
tailwindcss-language-server
bash-language-server
dockerfile-language-server-nodejs
yaml-language-server
@mistweaverco/kulala-fmt
@mistweaverco/kulala-ls
@biomejs/biome
turbo-language-server
@quobix/vacuum
gh-actions-language-server
@commitlint/cli
@commitlint/config-conventional
@commitlint/prompt-cli
@commitlint/format
graphql-language-service-cli
@cucumber/language-server
svelte-language-server
fixjson
{{ if eq .homeOrWork "home" -}}
hexo-cli
{{ end -}}
{{ if eq .homeOrWork "work" -}}
@medplum/cli
{{ end -}}
