{{ if (or (eq .osid "linux-arch") (eq .osid "linux-nixos")) }}
if [ -z "$WAYLAND_DISPLAY" ] && [ -n "$XDG_VTNR" ] && [ "$XDG_VTNR" -eq 1 ]; then
  exec sway
fi
{{ end }}

# Ensure ~/.bashrc is always sourced by login shell
# Only the login shell sources ~/.bash_profile
# http://mywiki.wooledge.org/DotFiles
if [ -n "$BASH" ] && [ -r "~/.bashrc" ]; then
  . ~/.bashrc
fi
