{{- template "base.sh.tmpl" }}

# Browser
export BROWSER=qutebrowser

# TODO: See about moving this either into base.sh.tmpl or another template file - since this needs to be called after compinit
# aws cli
complete -C '/usr/local/bin/aws_completer' aws

# mise
# TODO: Eventually remove mise - until now this is a hack to stop the error when this
# gets sourced on NixOS, where mise is not installed
if command -v mise >/dev/null; then
  # development, testing, production
  eval "$(mise activate bash)"
fi

# java
export PATH="$PATH:/opt/apache-maven-3.8.5/bin"

# delta
export PATH="$PATH:/home/drew/.local/bin"

# nvim
export PATH="$PATH:/opt/nvim-linux-x86_64/bin"

# starship
eval "$(starship init bash)"

# 1password
eval "$(op completion bash)"

# zoxide
eval "$(zoxide init --cmd j bash)"

# export GIT_AUTHOR_DATE="$(date -u +%F)T00:00:00+0000"
# export GIT_COMMITER_DATE="$GIT_AUTHOR_DATE"
test -f "$HOME/.cargo/env" && . "$HOME/.cargo/env"
ALACRITTY_COMPLETIONS_FILE=/home/drew/projects/alacritty/extra/completions/alacritty.bash test -f source $ALACRITTY_COMPLETIONS_FILE && source $ALACRITTY_COMPLETIONS_FILE

# restic
# Cannot use 1Password CLI as root, so need to set password manually
# export RESTIC_PASSWORD_COMMAND="op read op://Personal/restic/password -n"

# apt, dpkg
alias dpkg_export='dpkg -l | grep ^ii | awk '\''{print $2}'\'' > ~/.config/apt/packages'

{{ if eq .osid "linux-nixos" -}}
alias nix-switch="sudo nixos-rebuild switch -I nixos-config=$HOME/.config/nixos/configuration.nix"
alias nix-upgrade="sudo nixos-rebuild switch --upgrade -I nixos-config=$HOME/.config/nixos/configuration.nix"
{{ end -}}

# wireguard
alias start-wg="sudo systemctl start wg-quick-wg0.service"

alias stop-wg="sudo systemctl stop wg-quick-wg0"

# direnv
eval "$(direnv hook bash)"

export QT_QPA_PLATFORMTHEME="qt6ct"
