visidata
xlrd
openpyxl
PyYAML
python-language-server
stay-awake
yt-dlp
streamrip
bake
gersemi
nginxfmt
cmake-language-server
reformat-gherkin
nginxfmt
{{ if ne .chezmoi.os "freebsd"  -}}
beets
basedpyright
ruff
{{- end -}}
