{{ if eq .osid "darwin" -}}
#!/bin/zsh

# NOTE: Ensures that this script is run whenever packages.yaml is changed
# packages.yaml SHA: {{ joinPath .chezmoi.sourceDir ".chezmoidata" "packages.yaml" | sha256sum }}

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.common.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.common.head_brews -}}
brew {{ . | quote }}, args: ["HEAD"]
{{ end -}}
{{ range .packages.darwin.common.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.common.no_quarantine_casks -}}
cask {{ . | quote }}, args: {no_quarantine: true}
{{ end -}}
{{ range .packages.darwin.common.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ range $key, $value := .packages.darwin.common.mas_apps -}}
mas {{ $key | quote }}, id: {{ $value }}
{{ end -}}
{{ if eq .homeOrWork "home" -}}
{{ range .packages.darwin.home.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.home.head_brews -}}
brew {{ . | quote }}, args: ["HEAD"]
{{ end -}}
{{ range .packages.darwin.home.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.common.no_quarantine_casks -}}
cask {{ . | quote }}, args: {no_quarantine: true}
{{ end -}}
{{ range .packages.darwin.home.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ range $key, $value := .packages.darwin.home.mas_apps -}}
mas {{ $key | quote }}, id: {{ $value }}
{{ end -}}
{{ end -}}
{{ if eq .homeOrWork "work" -}}
{{ range .packages.darwin.work.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.work.head_brews -}}
brew {{ . | quote }}, args: ["HEAD"]
{{ end -}}
{{ range .packages.darwin.work.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.common.no_quarantine_casks -}}
cask {{ . | quote }}, args: {no_quarantine: true}
{{ end -}}
{{ range .packages.darwin.work.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ range $key, $value := .packages.darwin.work.mas_apps -}}
mas {{ $key | quote }}, id: {{ $value }}
{{ end -}}
{{ end -}}
EOF
{{ end -}}

# TODO: Make this part of packages.yml as a separate key (E.g., 'after')
# Re-establish symlink to php installation
brew link --overwrite --force shivammathur/php/php@8.3
