#!/bin/sh

# ALL start
gh_install_update_scripts_token=$(op read op://Personal/7cxogiqeiaehpkdi4djb3yvn24/password -n)
home_ddns_name=$(op read op://Personal/hfg6pheaifln27gpjqfygrgmsu/ddns_hostname)
cat <<EOF >~/.env
export GITHUB_DOTFILES_INSTALL_UPDATE_TOKEN="$gh_install_update_scripts_token"
export HOME_DDNS_NAME="$home_ddns_name"
EOF
# ALL end

# HOME start
{{ if eq .homeOrWork "home" -}}
{{ end -}}
# HOME end

# WORK start
{{ if eq .homeOrWork "work" -}}
jira_data=$(op item get jira_webpt --fields=hostname,email,api_token --reveal)

jira_hostname=$(echo "$jira_data" | cut -d ',' -f1)
jira_email=$(echo "$jira_data" | cut -d ',' -f2)
jira_api_token=$(echo "$jira_data" | cut -d ',' -f3)
cat <<EOF >>~/.env
export JIRA_API_HOSTNAME="$jira_hostname"
export JIRA_API_EMAIL="$jira_email"
export JIRA_API_TOKEN="$jira_api_token"
EOF
{{ end -}}
# WORK end
