# MACOS
{{ if eq .chezmoi.os "darwin" -}}
{{- template "macos-install.sh.tmpl" -}}
{{ end -}}
# DEBIAN
{{ if eq .chezmoi.osid "linux-debian" -}}
{{- template "debian-install.sh.tmpl" -}}
{{ end -}}
# NIXOS
{{ if eq .chezmoi.osid "linux-nixos" -}}
{{ end -}}
# ARCH
{{ if eq .chezmoi.osid "linux-arch" -}}
{{ end -}}
