#!/bin/bash

. ~/.env

. ~/.local/share/chezmoi/utils.sh

# TODO: Install priority packages & dependencies here

# MANUAL Installs

# TODO: Create an Arch package for this
# https://github.com/Yubico/yubioath-flutter/releases
# install_arch_package "yubiath-flutter"
