{{ if eq .chezmoi.os "darwin" -}}
{{- template "macos-install.sh.tmpl" -}}
{{ end -}}
{{ if eq .osid "linux-debian" -}}
{{- template "debian-install.sh.tmpl" -}}
{{ end -}}
{{ if eq .osid "linux-arch" -}}
{{- template "archlinux-install.sh.tmpl" -}}
{{ end -}}
