[env]
_.file = "~/.env"

[tools]
python = "3.12.10"
golang = "1.24.4"
usage = "0.3.0"
ruby = "3.3.4"
{{ if or (eq .chezmoi.os "linux" ) (eq .chezmoi.os "darwin") -}}
java = "21"
deno = "2.4.5"
node = "22.17.1"
{{- end }}

[settings]
idiomatic_version_file_enable_tools = ["node"]
# Ensures that mise runtimes are pushed to the front of PATH - i.e., in front of homebrew runtimes
activate_aggressive = true
