return {
	"obsidian-nvim/obsidian.nvim",
	-- dev = true,
	-- cond = false,
	version = "*", -- recommended, use latest release instead of latest commit
	lazy = true,
  -- NOTE: Ensure obsidian.nvim commands are only available when viewing notes inside vault(s) below
	event = {
	  "BufReadPre " .. vim.fn.expand "~" .. "/vaults/work/*.md",
	  "BufNewFile " .. vim.fn.expand "~" .. "/vaults/work/*.md",
	  "BufReadPre " .. vim.fn.expand "~" .. "/vaults/personal/*.md",
	  "BufNewFile " .. vim.fn.expand "~" .. "/vaults/personal/*.md",
	  "BufReadPre " .. vim.fn.expand "~" .. "/vaults/XXX/*.md",
	  "BufNewFile " .. vim.fn.expand "~" .. "/vaults/XXX/*.md",
	},
	dependencies = {
		"nvim-lua/plenary.nvim",
	},
	---@module 'obsidian'
	---@type obsidian.config
	opts = {
    legacy_commands = false,
		workspaces = {
      {{ if eq .homeOrWork "home" -}}
      {
        name = "personal",
        path = "~/vaults/personal",
      },
      {
        name = "xxx",
        path = "~/vaults/xxx",
      },
      {{ end -}}
			{
				name = "work",
				path = "~/vaults/work",
			},
		},
		templates = {
			folder = "templates",
		},
		daily_notes = {
			workdays_only = true,
			-- which folders dailies should be placed in
			folder = "dailies",
			-- name of the template to use. Should be a file located in the 'templates' folder
			template = "daily",
		},
		picker = {
			name = "fzf-lua",
			note_mappings = {
				-- Create a new note from your query.
				new = "<C-x>",
				-- Insert a link to the selected note.
				insert_link = "<C-l>",
			},
			tag_mappings = {
				-- Add tag(s) to current note.
				tag_note = "<C-x>",
				-- Insert a tag at the current location.
				insert_tag = "<C-l>",
			},
		},
		completion = {
			nvim_cmp = false,
			blink = true,
			min_chars = 2,
		},
		-- TODO: This appears to be deprecated now
		-- mappings = {
		-- 	-- TODO: Figure out why this isn't working
		-- 	["<localleader>td"] = {
		-- 		action = function()
		-- 			return require("obsidian").util.toggle_checkbox()
		-- 		end,
		-- 		opts = { buffer = true },
		-- 	},
		-- },
	},
	init = function()
		vim.api.nvim_create_augroup("filetype_markdown", { clear = true })
		vim.api.nvim_create_autocmd(
			{ "BufNewFile", "BufRead" },
			{ pattern = { "*.md" }, command = "set conceallevel=2", group = "filetype_markdown" }
		)
	end,
}
