cat <<EOF >~/.env
# Bluetooth
export BEATS_PRO_MAC_ADDR="$(op read 'op://Personal/beats-pro-mac-addr/password' --no-newline)"
# GitHub
export GITHUB_DOTFILES_INSTALL_UPDATE_TOKEN="$(op read 'op://Personal/7cxogiqeiaehpkdi4djb3yvn24/password' --no-newline)"
# VPN
export HOME_DDNS_NAME="$(op read 'op://Personal/hfg6pheaifln27gpjqfygrgmsu/ddns_hostname' --no-newline)"
{{ if eq .homeOrWork "home" }}
# AWS Backups
export AWS_ACCESS_KEY_ID="$(op read 'op://Personal/axmeyotmhz3ikjj2guvnvpkgou/restic-arch-backups-access-key-id' --no-newline)"
export AWS_SECRET_ACCESS_KEY="$(op read 'op://Personal/axmeyotmhz3ikjj2guvnvpkgou/restic-arch-backups-secret-access-key' --no-newline)"
{{ end }}
# Restic
export RESTIC_PASSWORD="$(op read op://Personal/restic-key/password --no-newline)"
{{ if eq .osid "linux-arch" }}
export RESTIC_REPOSITORY="$(op read 'op://Personal/25rlupggrmm4t6ggx7vkew7nzq/linux-arch-repository' --no-newline)"
{{ end }}
{{ if eq .osid "linux-nixos" }}
export RESTIC_REPOSITORY="$(op read 'op://Personal/25rlupggrmm4t6ggx7vkew7nzq/linux-nixos-repository' --no-newline)"
{{ end }}
{{ if eq .homeOrWork "work" }}
# Jira
export JIRA_API_HOSTNAME="$(op read 'op://Personal/nzd745uynzi2xs3reubrgfsfmq/hostname' --no-newline)"
export JIRA_API_EMAIL="$(op read 'op://Personal/nzd745uynzi2xs3reubrgfsfmq/email' --no-newline)"
export JIRA_API_TOKEN="$(op read 'op://Personal/nzd745uynzi2xs3reubrgfsfmq/api_token' --no-newline)"
# JGit
export JGIT_GITLAB_HOSTNAME="$(op read 'op://Personal/eha6rvns4mf2clnzhqvxwoq7dm/Host' --no-newline)"
export JGIT_GITLAB_OAUTH_TOKEN="$(op read 'op://Personal/eha6rvns4mf2clnzhqvxwoq7dm/token' --no-newline)"
{{ end }}
EOF

cat <<EOF >~/.env.fish
# Bluetooth
set -gx BEATS_PRO_MAC_ADDR "$(op read 'op://Personal/beats-pro-mac-addr/password' --no-newline)"
# GitHub
set -gx GITHUB_DOTFILES_INSTALL_UPDATE_TOKEN "$(op read 'op://Personal/7cxogiqeiaehpkdi4djb3yvn24/password' --no-newline)"
# VPN
set -gx HOME_DDNS_NAME "$(op read 'op://Personal/hfg6pheaifln27gpjqfygrgmsu/ddns_hostname' --no-newline)"
{{ if eq .homeOrWork "home" }}
# AWS Backups
set -gx AWS_ACCESS_KEY_ID "$(op read 'op://Personal/axmeyotmhz3ikjj2guvnvpkgou/restic-arch-backups-access-key-id' --no-newline)"
set -gx AWS_SECRET_ACCESS_KEY "$(op read 'op://Personal/axmeyotmhz3ikjj2guvnvpkgou/restic-arch-backups-secret-access-key' --no-newline)"
# Restic
set -gx RESTIC_PASSWORD "$(op read op://Personal/restic-key/password --no-newline)"
{{ end }}
{{ if eq .osid "linux-arch" }}
set -gx RESTIC_REPOSITORY "$(op read 'op://Personal/25rlupggrmm4t6ggx7vkew7nzq/linux-arch-repository' --no-newline)"
{{ end }}
{{ if eq .osid "linux-nixo" }}
set -gx RESTIC_REPOSITORY "$(op read 'op://Personal/25rlupggrmm4t6ggx7vkew7nzq/linux-nixos-repository' --no-newline)"
{{ end }}
{{ if eq .homeOrWork "work" }}
# Jira
export JIRA_API_HOSTNAME="$(op read 'op://Personal/nzd745uynzi2xs3reubrgfsfmq/hostname' --no-newline)"
export JIRA_API_EMAIL="$(op read 'op://Personal/nzd745uynzi2xs3reubrgfsfmq/email' --no-newline)"
export JIRA_API_TOKEN="$(op read 'op://Personal/nzd745uynzi2xs3reubrgfsfmq/api_token' --no-newline)"
# JGit
export JGIT_GITLAB_HOSTNAME="$(op read 'op://Personal/eha6rvns4mf2clnzhqvxwoq7dm/Host' --no-newline)"
export JGIT_GITLAB_OAUTH_TOKEN="$(op read 'op://Personal/eha6rvns4mf2clnzhqvxwoq7dm/token' --no-newline)"
{{ end }}
EOF

# TODO: Create another script to run to export jira env vars if work comp
