cat <<EOF >~/.env
# Bluetooth
export BEATS_PRO_MAC_ADDR="$(op read 'op://Personal/beats-pro-mac-addr/password' --no-newline)"
# GitHub
export GITHUB_DOTFILES_INSTALL_UPDATE_TOKEN="$(op read 'op://Personal/7cxogiqeiaehpkdi4djb3yvn24/password' --no-newline)"
# VPN
export HOME_DDNS_NAME="$(op read 'op://Personal/hfg6pheaifln27gpjqfygrgmsu/ddns_hostname' --no-newline)"
# SUBSONIC
export SUBSONIC_API_PASSWORD="$(op read 'op://Personal/nlrdbabyz3uc4shcauwwxaadfq/password' --no-newline)"
export SUBSONIC_API_USERNAME="$(op read 'op://Personal/nlrdbabyz3uc4shcauwwxaadfq/username' --no-newline)"
export SUBSONIC_API_URL="$(op read 'op://Personal/nlrdbabyz3uc4shcauwwxaadfq/website' --no-newline)"

# DeepL
export DEEPL_API_AUTH_KEY="$(op read 'op://Personal/DeepL Translate/Personal Macbook Pro API Key' --no-newline)"

# Context7
export DEEPL_API_AUTH_KEY="$(op read 'op://Personal/Context7/Default API Key' --no-newline)"

# Firecrawl
export DEEPL_API_AUTH_KEY="$(op read 'op://Personal/Firecrawl/API Key' --no-newline)"

# Restic
{{ if eq .homeOrWork "home" }}
export RESTIC_PASSWORD="$(op read op://Personal/restic-key/password --no-newline)"
# Anthropic
export ANTHROPIC_API_KEY="$(op read op://Personal/Anthropic/drew-onboarding-api-key --no-newline)"
{{ end }}
{{ if eq .osid "linux-arch" }}
export RESTIC_REPOSITORY="$(op read 'op://Personal/25rlupggrmm4t6ggx7vkew7nzq/linux-arch-repository' --no-newline)"
# AWS Backups
export AWS_ACCESS_KEY_ID="$(op read 'op://Personal/axmeyotmhz3ikjj2guvnvpkgou/restic-arch-backups-access-key-id' --no-newline)"
export AWS_SECRET_ACCESS_KEY="$(op read 'op://Personal/axmeyotmhz3ikjj2guvnvpkgou/restic-arch-backups-secret-access-key' --no-newline)"
{{ end }}
{{ if eq .osid "linux-nixos" }}
export RESTIC_REPOSITORY="$(op read 'op://Personal/25rlupggrmm4t6ggx7vkew7nzq/linux-nixos-repository' --no-newline)"
# AWS Backups
export AWS_ACCESS_KEY_ID="$(op read 'op://Personal/axmeyotmhz3ikjj2guvnvpkgou/restic-nixos-backups-access-key-id' --no-newline)"
export AWS_SECRET_ACCESS_KEY="$(op read 'op://Personal/axmeyotmhz3ikjj2guvnvpkgou/restic-nixos-backups-secret-access-key' --no-newline)"
{{ end }}
{{ if eq .homeOrWork "work" }}
# Jira
export JIRA_API_HOSTNAME="$(op read 'op://Personal/nzd745uynzi2xs3reubrgfsfmq/hostname' --no-newline)"
export JIRA_API_EMAIL="$(op read 'op://Personal/nzd745uynzi2xs3reubrgfsfmq/email' --no-newline)"
export JIRA_API_TOKEN="$(op read 'op://Personal/nzd745uynzi2xs3reubrgfsfmq/api_token' --no-newline)"
# JGit
export JGIT_GITLAB_HOSTNAME="$(op read 'op://Personal/eha6rvns4mf2clnzhqvxwoq7dm/Host' --no-newline)"
export JGIT_GITLAB_OAUTH_TOKEN="$(op read 'op://Personal/eha6rvns4mf2clnzhqvxwoq7dm/token' --no-newline)"
# gitlab.nvim
export GITLAB_URL="$(op read 'op://Personal/eha6rvns4mf2clnzhqvxwoq7dm/Host' --no-newline)"
export GITLAB_TOKEN="$(op read 'op://Personal/eha6rvns4mf2clnzhqvxwoq7dm/token' --no-newline)"
# Same values - but useful to export in the event I jgit needs to use different jira configuration than default
export JGIT_JIRA_API_HOSTNAME="$(op read 'op://Personal/nzd745uynzi2xs3reubrgfsfmq/hostname' --no-newline)"
export JGIT_JIRA_API_EMAIL="$(op read 'op://Personal/nzd745uynzi2xs3reubrgfsfmq/email' --no-newline)"
export JGIT_JIRA_API_TOKEN="$(op read 'op://Personal/nzd745uynzi2xs3reubrgfsfmq/api_token' --no-newline)"
export JGIT_GITHUB_OAUTH_TOKEN="$(op read 'op://Personal/7cxogiqeiaehpkdi4djb3yvn24/password' --no-newline)"
{{ end }}
EOF

cat <<EOF >~/.env.fish
# Bluetooth
set -gx BEATS_PRO_MAC_ADDR "$(op read 'op://Personal/beats-pro-mac-addr/password' --no-newline)"
# GitHub
set -gx GITHUB_DOTFILES_INSTALL_UPDATE_TOKEN "$(op read 'op://Personal/7cxogiqeiaehpkdi4djb3yvn24/password' --no-newline)"
# VPN
set -gx HOME_DDNS_NAME "$(op read 'op://Personal/hfg6pheaifln27gpjqfygrgmsu/ddns_hostname' --no-newline)"
# SUBSONIC
set -gx SUBSONIC_API_PASSWORD "$(op read 'op://Personal/nlrdbabyz3uc4shcauwwxaadfq/password' --no-newline)"
set -gx SUBSONIC_API_USERNAME "$(op read 'op://Personal/nlrdbabyz3uc4shcauwwxaadfq/username' --no-newline)"
set -gx SUBSONIC_API_URL "$(op read 'op://Personal/nlrdbabyz3uc4shcauwwxaadfq/website' --no-newline)"

# DeepL
set -gx DEEPL_API_AUTH_KEY "$(op read 'op://Personal/DeepL Translate/Personal Macbook Pro API Key' --no-newline)"

# Context7
set -gx DEEPL_API_AUTH_KEY "$(op read 'op://Personal/Context7/Default API Key' --no-newline)"

# Firecrawl
set -gx DEEPL_API_AUTH_KEY "$(op read 'op://Personal/Firecrawl/API Key' --no-newline)"

{{ if eq .homeOrWork "home" }}
# Restic
set -gx RESTIC_PASSWORD "$(op read op://Personal/restic-key/password --no-newline)"
# Anthropic
set -gx ANTHROPIC_API_KEY "$(op read op://Personal/Anthropic/drew-onboarding-api-key --no-newline)"
{{ end }}
{{ if eq .osid "linux-arch" }}
set -gx RESTIC_REPOSITORY "$(op read 'op://Personal/25rlupggrmm4t6ggx7vkew7nzq/linux-arch-repository' --no-newline)"
# AWS Backups
set -gx AWS_ACCESS_KEY_ID "$(op read 'op://Personal/axmeyotmhz3ikjj2guvnvpkgou/restic-arch-backups-access-key-id' --no-newline)"
set -gx AWS_SECRET_ACCESS_KEY "$(op read 'op://Personal/axmeyotmhz3ikjj2guvnvpkgou/restic-arch-backups-secret-access-key' --no-newline)"
{{ end }}
{{ if eq .osid "linux-nixos" }}
set -gx RESTIC_REPOSITORY "$(op read 'op://Personal/25rlupggrmm4t6ggx7vkew7nzq/linux-nixos-repository' --no-newline)"
# AWS Backups
set -gx AWS_ACCESS_KEY_ID "$(op read 'op://Personal/axmeyotmhz3ikjj2guvnvpkgou/restic-nixos-backups-access-key-id' --no-newline)"
set -gx AWS_SECRET_ACCESS_KEY "$(op read 'op://Personal/axmeyotmhz3ikjj2guvnvpkgou/restic-nixos-backups-secret-access-key' --no-newline)"
{{ end }}
{{ if eq .homeOrWork "work" }}
# Jira
set -gx JIRA_API_HOSTNAME "$(op read 'op://Personal/nzd745uynzi2xs3reubrgfsfmq/hostname' --no-newline)"
set -gx JIRA_API_EMAIL "$(op read 'op://Personal/nzd745uynzi2xs3reubrgfsfmq/email' --no-newline)"
set -gx JIRA_API_TOKEN "$(op read 'op://Personal/nzd745uynzi2xs3reubrgfsfmq/api_token' --no-newline)"
# JGit
set -gx JGIT_GITLAB_HOSTNAME "$(op read 'op://Personal/eha6rvns4mf2clnzhqvxwoq7dm/Host' --no-newline)"
set -gx JGIT_GITLAB_OAUTH_TOKEN "$(op read 'op://Personal/eha6rvns4mf2clnzhqvxwoq7dm/token' --no-newline)"
# gitlab.nvim
set -gx GITLAB_URL "$(op read 'op://Personal/eha6rvns4mf2clnzhqvxwoq7dm/Host' --no-newline)"
set -gx GITLAB_TOKEN "$(op read 'op://Personal/eha6rvns4mf2clnzhqvxwoq7dm/token' --no-newline)"
# Same values - but useful to export in the event I jgit needs to use different jira configuration than default
set -gx JGIT_JIRA_API_HOSTNAME "$(op read 'op://Personal/nzd745uynzi2xs3reubrgfsfmq/hostname' --no-newline)"
set -gx JGIT_JIRA_API_EMAIL "$(op read 'op://Personal/nzd745uynzi2xs3reubrgfsfmq/email' --no-newline)"
set -gx JGIT_JIRA_API_TOKEN "$(op read 'op://Personal/nzd745uynzi2xs3reubrgfsfmq/api_token' --no-newline)"
set -gx JGIT_GITHUB_OAUTH_TOKEN "$(op read 'op://Personal/7cxogiqeiaehpkdi4djb3yvn24/password' --no-newline)"
{{ end }}
EOF

# TODO: Create another script to run to export jira env vars if work comp
