#!/bin/bash

. ~/.env

. ~/.local/share/chezmoi/utils.sh

# NOTE: Ensures that this script is run whenever packages.yaml is changed
# NOTE: Update this file as needed with `pacman -Qqe > ~/.local/share/chezmoi/.chezmoidata/archpackages.txt`
# packages.yaml SHA: {{ joinPath .chezmoi.sourceDir ".chezmoidata" "archpackages.txt" | sha256sum }}
sudo pacman -S - joinPath .chezmoi.sourceDir ".chezmoidata" "archpackages.txt" }} <{{

# MANUAL Installs

# TODO: Create an Arch package for this
# https://github.com/Yubico/yubioath-flutter/releases
# install_arch_package "yubiath-flutter"
