#!/bin/bash

. ~/.env

. ~/.local/share/chezmoi/utils.sh

# TODO: Refactor this script to import lists of packages to install through Arch Package Repository, yay (AUR), and manually, so that it only runs when those lists are updated, but not other content directly in this file.
# Similar to .chezmoitemplates/macos-install.sh

# NOTE: Required for building AUR packages
install_arch_package "base-devel"

# Install fonts
install_arch_package "fontconfig" # for fc-cache function
install_arch_package "ttf-input-nerd"
install_arch_package "ttf-jetbrains-mono-nerd"
# Install dependencies for desktop environment
install_arch_package "xorg-xwayland"
install_arch_package "sway"
install_arch_package "swaylock"
install_arch_package "swayidle"
# NOTE: Are both swaybg and swww both necessary?
install_arch_package "swaybg"
install_arch_package "swww"
install_arch_package "waybar"
install_arch_package "mako"
install_arch_package "libnotify"
install_arch_package "viu"
install_arch_package "chafa"
install_arch_package "ueberzugpp"
install_arch_package "clang"
install_arch_package "openssh"
install_arch_package "wget"
install_arch_package "git"
install_arch_package "mise"
install_arch_package "chezmoi"
install_arch_package "automake"
install_arch_package "meson"
install_arch_package "jq"
install_arch_package "rg" "ripgrep"
install_arch_package "shfmt"
install_arch_package "delta" "git-delta"
install_arch_package "fish"
install_arch_package "fzf"
install_arch_package "fd"
install_arch_package "bat"
install_arch_package "batman" "bat-extras"
install_arch_package "ctags"
install_arch_package "aws" "aws-cli"
install_arch_package "lua51"
install_arch_package "luarocks"
install_arch_package "vim"
install_arch_package "neovim"
install_arch_package "imagemagick"
install_arch_package "tmux"
install_arch_package "alacritty"
install_arch_package "zoxide"
install_arch_package "yq"
install_arch_package "dust"
install_arch_package "kiwix-desktop"
# TODO: Are both 'rofi' and 'wofi' req?
install_arch_package "rofi"
install_arch_package "wofi"
install_arch_package "speedtest" "speedtest-cli"
install_arch_package "feh"
install_arch_package "xml" "xmlstarlet"
install_arch_package "nmap"
install_arch_package "openvpn"
install_arch_package "wg" "wireguard-tools"
# install_arch_package "plocate"
install_arch_package "plocate"
install_arch_package "foliate"
install_arch_package "neomutt"
install_arch_package "electrum"
install_arch_package "cliphist"
install_arch_package "wl-clipboard"
install_arch_package "magic-wormhole"
# install_arch_package "sops"
# install_arch_package "passage"
install_arch_package "keepassxc"
install_arch_package "pwgen"
# install_arch_package "libsecret"
install_arch_package "ijq"

# install_arch_package "nvme-cli"
install_arch_package "obs" "obs-studio" # choose 'jack2' when prompted
install_arch_package "bemenu"           # choose 'bemenu-wayland' when prompted
install_arch_package "direnv"
install_arch_package "gitleaks"
install_arch_package "weechat"
install_arch_package "hexyl"
install_arch_package "qutebrowser"
install_arch_package "gh" "github-cli"
install_arch_package "glab"
install_arch_package "ncmpcpp"
install_arch_package "libmpd"
install_arch_package "qt6ct"
install_arch_package "mpv"
install_arch_package "lsusb" "usbutils"
install_arch_package "lsd"
install_arch_package "pandoc"
install_arch_package "zathura" "zathura-pdf-mupdf" # choose 'tesseract-data-eng' when prompted
install_arch_package "mumble"
install_arch_package "qalc" "qalculate-qt"
install_arch_package "isync"
install_arch_package "urlscan"
install_arch_package "msmtp"
install_arch_package "tree-sitter"
install_arch_package "tree-sitter-cli"
install_arch_package "difftastic"
install_arch_package "mergiraf"
install_arch_package "libreoffice" "libreoffice-fresh"
install_arch_package "jless"
install_arch_package "yazi"
install_arch_package "resvg"
install_arch_package "poppler"
install_arch_package "cmus"
install_arch_package "signal-desktop"
# TODO: Will need to manually install this
# install_arch_package "protonmail"
install_arch_package "protonmail-bridge"
install_arch_package "obsidian"
install_arch_package "stylua"
install_arch_package "starship"
install_arch_package "ueberzugpp"
install_arch_package "strawberry"
install_arch_package "mixxx"
install_arch_package "brightnessctl"
install_arch_package "pciutils"
install_arch_package "starship"
install_arch_package "firefox"
install_arch_package "lynx"
install_arch_package "cheese"
# Screenshots: Ex.) grim -g "$(slurp)" - | satty -f - -o ~/Pictures/Screenshots/screenshot.png
install_arch_package "grim"
install_arch_package "slurp"
install_arch_package "satty"
install_arch_package "d2"
install_arch_package "pavucontrol"
install_arch_package "qrencode"
install_arch_package "restic"
install_arch_package "dbeaver" # when prompted, choose jdk21-openjdk
install_arch_package "unzip"

# LSP Servers
install_arch_package "gopls"
install_arch_package "rust-analyzer"
install_arch_package "typos-lsp"
install_arch_package "lua-language-server"
install_arch_package "marksman"
install_arch_package "taplo-cli"

# Formatters
install_arch_package "yamlfmt"
install_arch_package "stylua"
install_arch_package "shellcheck"
install_arch_package "tflint"

# Rust
install_arch_package "rustup"
rustup default stable

# MANUAL Installs - no AUR package or the one that exists is not ideal for some reason
# install_arch_package "apksigner"
# TODO: Create an Arch package for this
# https://github.com/Yubico/yubioath-flutter/releases
# install_arch_package "yubiath-flutter"

# TODO: 1Password desktop and CLI installation steps

# Install required dependencies for building ruby
# https://github.com/rbenv/ruby-build/wiki#arch-linux
# NOTE: Not installing 'rust' because 'rustup' will handle this
# install_arch_package "rust"
install_arch_package "libffi"
install_arch_package "libyaml"
install_arch_package "openssl"
install_arch_package "zlib"

# Install mise-managed runtimes
mise install

npm update -g npm

pip install --upgrade pip

install_pip_package "rip" "streamrip"
