#!/bin/bash

. ~/.env

. ~/.local/share/chezmoi/utils.sh

install_arch_package "man-db"

# Create mandb
# TODO: Make idempotent
sudo mandb

# Install font
install_arch_package "fontconfig" # for fc-cache function
install_arch_package "ttf-input-nerd"
install_arch_package "ttf-jetbrains-mono-nerd"

# Install dependencies for desktop environment
install_arch_package "sway"
install_arch_package "swaylock"
install_arch_package "swayidle"
install_arch_package "swaybg"
# install_arch_package "swayr"

# TODO: Install from AUR since there is no official package for this

# TODO: Add my user to the 'seat' group
sudo usermod -a -G seat $(whoami)

# Enable the seatd service
sudo systemctl start seatd.service

# Log out
# Log back in

install_arch_package "wget"
install_arch_package "git"
install_arch_package "mise"
install_arch_package "chezmoi"
install_arch_package "automake"
install_arch_package "jq"
install_arch_package "rg" "ripgrep"
install_arch_package "shfmt"
install_arch_package "delta" "git-delta"
install_arch_package "fish"
install_arch_package "fzf"
install_arch_package "fd"
install_arch_package "bat"
install_arch_package "batman" "bat-extras"
install_arch_package "ctags"
install_arch_package "aws" "aws-cli"
install_arch_package "neovim"
install_arch_package "tmux"
install_arch_package "alacritty"
install_arch_package "zoxide"
install_arch_package "yq"
install_arch_package "dust"
install_arch_package "kiwix-desktop"
install_arch_package "rofi"
install_arch_package "speedtest" "speedtest-cli"
install_arch_package "feh"
install_arch_package "xml" "xmlstarlet"
install_arch_package "nmap"
install_arch_package "openvpn"
install_arch_package "wg" "wireguard-tools"
# install_arch_package "plocate"
install_arch_package "foliate"
install_arch_package "neomutt"
install_arch_package "electrum"

# install_arch_package "nvme-cli"
install_arch_package "obs" "obs-studio" # choose 'jack2' when prompted
install_arch_package "bemenu"           # choose 'bemenu-wayland' when prompted
install_arch_package "direnv"
install_arch_package "gitleaks"
install_arch_package "weechat"
install_arch_package "hexyl"
install_arch_package "qutebrowser"
install_arch_package "gh" "github-cli"
install_arch_package "glab"
install_arch_package "ncmpcpp"
install_arch_package "libmpd"
install_arch_package "qt6ct"
install_arch_package "mpv"
install_arch_package "lsusb" "usbutils"
install_arch_package "lsd"
install_arch_package "pandoc"
install_arch_package "zathura" "zathura-pdf-mupdf" # choose 'tesseract-data-eng' when prompted
install_arch_package "mumble"
install_arch_package "qalc" "qalculate-qt"
install_arch_package "isync"
install_arch_package "urlscan"
install_arch_package "msmtp"
install_arch_package "tree-sitter"
install_arch_package "difftastic"
install_arch_package "libreoffice" "libreoffice-fresh"
install_arch_package "jless"
install_arch_package "yazi"
install_arch_package "cmus"
install_arch_package "signal-desktop"
# TODO: Will need to manually install this
# install_arch_package "protonmail"
install_arch_package "protonmail-bridge"
install_arch_package "marksman"
install_arch_package "lua-language-server"
install_arch_package "tflint"
install_arch_package "obsidian"
install_arch_package "stylua"
install_arch_package "starship"
install_arch_package "ueberzugpp"

# AUR Packages
install_arch_package "swayrbar"
install_arch_package "cmusfm"
install_arch_package "electrum-ltc"
install_arch_package "jdtls"
install_arch_package "mullvad"
install_arch_package "abook"
install_arch_package "terraform-ls"
install_arch_package "clojure-lsp"

# TODO: 1Password desktop and CLI installation steps
# TODO: Docker Desktop installation

# Install required dependencies for building ruby
# https://github.com/rbenv/ruby-build/wiki#arch-linux
install_arch_package "base-devel"
install_arch_package "rust"
install_arch_package "libffi"
install_arch_package "libyaml"
install_arch_package "openssl"
install_arch_package "zlib"
