#!/bin/sh
#          ╭──────────────────────────────────────────────────────────╮
#          │                          rustup                          │
#          │                    https://rustup.rs/                    │
#          ╰──────────────────────────────────────────────────────────╯
if ! command -v rustup >/dev/null; then
  curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
fi

#          ╭──────────────────────────────────────────────────────────╮
#          │                           mise                           │
#          │                  https://mise.jdx.dev/                   │
#          ╰──────────────────────────────────────────────────────────╯
if ! command -v mise >/dev/null; then
  brew install mise
  mise install
fi

#          ╭──────────────────────────────────────────────────────────╮
#          │                         lua 5.1                          │
#          │        https://www.lua.org/manual/5.4/readme.html        │
#          ╰──────────────────────────────────────────────────────────╯
version="5.1.5"
current=$(lua -v 2>&1 | cut -d ' ' -f2)

if [ "$current" != "$version" ]; then
  echo "Installing lua v$version"
  # download
  curl -sLO https://www.lua.org/ftp/lua-${version}.tar.gz
  cd lua-${version} || exit
  # build
  make macosx
  # verify
  make test
  # install
  sudo make install
  # cleanup
  rm -rf lua-${version}*
  cd ~ || exit
  echo "Installed lua v5.1.5"
fi

#          ╭──────────────────────────────────────────────────────────╮
#          │                         luarocks                         │
#          │                  https://luarocks.org/                   │
#          ╰──────────────────────────────────────────────────────────╯
if ! command -v luarocks >/dev/null; then
  curl -LO https://luarocks.org/releases/luarocks-3.11.1.tar.gz
  tar zxpf luarocks-3.11.1.tar.gz
  cd luarocks-3.11.1 || exit
  ./configure && make && make install
  luarocks install luasocket

  # install luarocks-managed modules
  # https://github.com/3rd/image.nvim
  luarocks install --local magick
fi

#          ╭──────────────────────────────────────────────────────────╮
#          │                       Postgres.app                       │
#          │                 https://postgresapp.com/                 │
#          ╰──────────────────────────────────────────────────────────╯
if ! command -v postgres >/dev/null; then

  brew install --cask postgres-unofficial

  if [[ ! -f "/etc/paths.d/postgresapp" ]]; then
    sudo mkdir -p /etc/paths.d &&
      echo /Applications/Postgres.app/Contents/Versions/latest/bin | sudo tee /etc/paths.d/postgresapp
  fi
fi
