#!/bin/bash

. ~/.env

. ~/.local/share/chezmoi/utils.sh

# NOTE: 'update' is alias for 'upgrade'
# dnf automatically updates cache periodically so need to manually do this
sudo dnf upgrade

install_dnf_package "strawberry"
install_dnf_package "jq"
install_dnf_package "rustup"
install_dnf_package "git-credential-oauth"
install_dnf_package "ripgrep"
install_dnf_package "git-delta"
install_dnf_package "fish"
install_dnf_package "fzf"
install_dnf_package "fd-find"
install_dnf_package "bat"
install_dnf_package "ctags"
install_dnf_package "awscli"
install_dnf_package "compat-lua"
install_dnf_package "luarocks"
install_dnf_package "jetbrains-mono-fonts-all"
install_dnf_package "neovim"
install_dnf_package "tmux"
install_dnf_package "alacritty"
install_dnf_package "ImageMagick"
install_dnf_package "zoxide"
install_dnf_package "yq"
install_dnf_package "du-dust"
install_dnf_package "kiwix-desktop"
install_dnf_package "rofi"
install_dnf_package "speedtest-cli"
install_dnf_package "feh"
install_dnf_package "xmlstarlet"
install_dnf_package "nmap"
install_dnf_package "openvpn"
install_dnf_package "wireguard-tools"
install_dnf_package "plocate"
install_dnf_package "foliate"
install_dnf_package "gnome-disk-utility"
install_dnf_package "neomutt"
install_dnf_package "electrum"
install_dnf_package "nvme-cli"
install_dnf_package "obs-studio"
install_dnf_package "bemenu"
install_dnf_package "direnv"
install_dnf_package "gitleaks"
install_dnf_package "weechat"
install_dnf_package "hexyl"
install_dnf_package "qutebrowser"
install_dnf_package "gh"
install_dnf_package "glab"
install_dnf_package "ncmpcpp"
install_dnf_package "libmpd"
install_dnf_package "qt6ct"
install_dnf_package "mpv"
install_dnf_package "usbutils"
install_dnf_package "lsd"
install_dnf_package "pandoc"
install_dnf_package "usbutils"
install_dnf_package "zathura-pdf-mupdf"
install_dnf_package "mumble"
install_dnf_package "qalculate-qt"
install_dnf_package "isync"
# NOTE: Pre-installed?
# install_dnf_package "notmuch"
install_dnf_package "urlscan"
install_dnf_package "msmtp"
install_dnf_package "abook"
install_dnf_package "tree-sitter"
